body {
  font-family: Helvetica, sans-serif;
}

header {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
  background-repeat: no-repeat;

  color: khaki;
}

section {
  margin-bottom: 10px;
}

h1 {
  font-size: 100px;
  text-align: center;
}

h2 {
  font-size: 32px;
  color: white;
}

.blue {
  color: blue;
}

.brushes h2 {
  background-color: MediumSpringGreen;
}

.frames h2 {
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}
